---
import Layout from '../../layouts/eCardsLayout.astro';
---
<Layout title="eCard de Caleb Aguirre creada por Bichotech">
    <div class="ecard">
        <div class="ecard-imgs">
          <div class="ecard-background"></div>
      
          <div class="ecard-logo">
            <img src="/assets/images/ecard/property-of.webp" width="100%" alt="BichoTech Logo">
          </div>
        </div>
      
        <div class="ecard-name">
          <p>Caleb<span>Aguirre</span></p>
        </div>
      
        <div class="ecard-thanks">
          <p>Gracias por tu visita</p>
        </div>
      
        <div class="ecard-location">
          <i class="fas fa-location-arrow"><span>Monterrey, NL, MX</span></i>
        </div>
      
        <div class="ecard-cerro">
          <img src="/assets/images/Cerro.svg" alt="Imagen Cerro">
        </div>
      
        <div class="ecard-links">
          <div class="ecard-column">
            <h5>Papá: Ernesto</h5>
            <ul>
              <li>
                <a href="tel:8110663950" target="_blank">
                  <i class="fas fa-phone-alt"></i>
                  Teléfono de papá
                </a>
              </li>
              <li>
                <a href="https://wa.link/0n50vc" target="_blank">
                  <i class="fab fa-whatsapp"></i>
                  Whatsapp de papá
                </a>
              </li>
            </ul>
          </div>
      
          <div class="ecard-column">
            <h5>Mamá: Vicky</h5>
            <ul>
              <li>
                <a href="tel:8112522666" target="_blank">
                  <i class="fas fa-phone-alt"></i>
                  Teléfono de mamá
                </a>
              </li>
              <li>
                <a href="https://wa.link/h9c0l4" target="_blank">
                  <i class="fab fa-whatsapp"></i>
                  Whatsapp de mamá
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
</Layout>
