---
import Layout from '../../layouts/Layout.astro';
import MainSection from '../../components/main-section.astro';
// import SimpleSection from '../components/simple-section.astro';
---

<Layout title="Qu&eacute; es y quienes somos en BichoTech">
	
	<MainSection
			title="Blog"
			background="bichotech.jpg"
			element={['noticias', 'consejos', 'artículos']} />

	<section class="__bixo-phrase change-menu-color">
		<div>
			<h3>Estamos reuniendo el material importante para mostrarte en nuestro blog.</h3>
		</div>
	</section>

</Layout>