---
import Layout from '../../layouts/Layout.astro';
import MainSection from '../../components/main-section.astro';
import WhiteSection from '../../components/white-section.astro';
---

<Layout title="La voz de BichoTech" desc='Artículos, noticias y otros temas varios que BichoTech desea compartir contigo.'>
	
	<MainSection
			title="Blog"
			background="wall_05.webp"
			element={['noticias', 'consejos', 'artículos']} />

	
	<WhiteSection>
        <Fragment slot="SectionContent">
            <h3>Estamos reuniendo el material importante para mostrarte en nuestro blog.</h3>
        </Fragment>
    </WhiteSection>

</Layout>