---
import Layout from '../layouts/Layout.astro';
import MainSection from '../components/main-section.astro';
import SimpleSection from '../components/simple-section.astro';
import FormaContacto from '../components/FormaContacto.astro';
import { Fb, Yt, Tt, Be, Ig, In } from '../assets/icons/index.astro';
---

<Layout title="Queremos saber de ti en BichoTech" desc='En BichoTech estamos para ayudarte a lograr tus metas.'>
	
	<!-- <MainSection
			title="Contacto"
			background="wall_02.webp"
			element={['mensaje', 'saludos', 'cotización', 'redes']} /> -->

	<SimpleSection
			title="¿Qué podemos hacer por ti?"
			subtitle="¡No dudes en contactarnos!"
			background="/assets/images/building-2.jpg">
			<Fragment slot="SectionContent">
				<p>Estamos aquí para ayudarte a alcanzar objetivos de tu negocio.</p>
				<p>Envía un mensaje para agendar una llamada o concretar una reunión y conocer tus inquietudes:</p>
				<FormaContacto />
				<ul class="social-net">
					<li><a href="https://www.facebook.com/bichotech.agencia" target="_blank"><Fb />Bichotech en Facebook</a></li>
					<li><a href="https://www.linkedin.com/company/bichotech/" target="_blank"><In />Bichotech en LinkedIn</a></li>
					<li><a href="https://www.instagram.com/bichotech_agencia" target="_blank"><Ig />Bichotech en Instagram</a></li>
					<!-- <li><a href="#"><Tt />Bichotech en TikTok</a></li>
					<li><a href="#"><Yt />Bichotech en YouTube</a></li>
					<li><a href="#"><Be />Bichotech en Behance</a></li> -->
				</ul>
				<p>¡Esperamos tu mensaje!</p>
				<div class="signature">
					<img src="/assets/images/signature.webp" width="200" alt="">
				</div>
			</Fragment>
	</SimpleSection>
</Layout>
