---
// import SplashLayout from '../layouts/splashLayout.astro';

// SECTIONS
import Layout from '../layouts/Layout.astro';
import BienvenidoSection from '../sections/bienvenido.astro';
import MainSection from '../components/main-section.astro';
import SimpleSection from '../components/simple-section.astro';
---

<Layout title="BichoTech, agencia interactiva" desc='Bienvenido a BichoTech, agencia interactiva especialista en creación de estrategias para publicidad y presencia en medios electrónicos.'>
	
	<MainSection
			title="Nuestra responsabilidad es brindar a tu marca un impacto gráfico. Nuestra misión es convertirnos en tu equipo creativo de confianza."
			background="index-img.jpg"
			element={['branding', 'marketing', 'ui/ux', 'desarrollo']} />

	<SimpleSection
			title="Amamos la creatividad"
			subtitle=""
			background="/assets/images/building-2.jpg">
			<Fragment slot="SectionContent">
				<p>Nos gusta despertar en personas como tu, el amor por la creatividad en función de metas específicas.</p>
				<p>Somos ambiciosos y llevamos la creatividad al máximo.</p>
				<a href="/servicios/" class="base-btn">Conoce nuestros servicios</a>
			</Fragment>
	</SimpleSection>

	<SimpleSection
			title = "De la estrategia a la ejecución"
			subtitle=""
			background="/assets/images/lady-soldier-bixo-army-cyberpunk.webp">
			<Fragment slot="SectionContent">
				<p>Creamos procesos ampliamentes probados para ayudarte a identificar las posibles áreas de oportunidad y crear experiencias visuales de tus marcas y productos.</p>
				<a href="/procesos/" class="base-btn">Conoce nuestros procesos</a>
			</Fragment>
	</SimpleSection>

	<BienvenidoSection />

</Layout>
