---
// import SplashLayout from '../layouts/splashLayout.astro';

// SECTIONS
import Layout from '../layouts/Layout.astro';
import BienvenidoSection from '../sections/bienvenido.astro';
import MainSection from '../components/main-section.astro';
import SimpleSection from '../components/simple-section.astro';
---

<Layout title="Bienvenido a BichoTech, agencia interactiva especialista en creación de estrategias para publicidad y presencia en medios electrónicos.">
	
	<MainSection
			title="Nuestra responsabilidad es brindarle a su marca un impacto digital y gráfico significativo. Nuestra misión es convertirnos en su equipo creativo de confianza."
			background="index-img.jpg"
			element={['branding', 'marketing', 'ui/ux design', 'web', 'apps', 'identidad visual']} />

	<SimpleSection
			title="Nos gusta despertar en nuestros clientes el amor a la creatividad funcional"
			subtitle=""
			background="/assets/images/building-2.jpg">
			<Fragment slot="SectionContent">
				<p>Somos ambiciosos y llevamos la creatividad al máximo</p>
				<a href="/servicios/" class="base-btn">Conoce nustros servicios</a>
			</Fragment>
	</SimpleSection>

	<SimpleSection
			title = "De la estrategia a la ejecución"
			subtitle=""
			background="/assets/images/lady-soldier-bixo-army-cyberpunk.webp">
		<Fragment slot="SectionContent">
			<p>Creamos procesos probados para ayudar a nuestros clientes a identificar las posibles áreas de oportunidad para crear experiencias visuales de sus marcas y productos</p>
			<a href="/procesos/" class="base-btn">Conoce nuestros procesos</a>
		</Fragment>
	</SimpleSection>

	<BienvenidoSection />

</Layout>
