---
import Layout from '../layouts/Layout.astro';
import MainSection from '../components/main-section.astro';
// import SimpleSection from '../components/simple-section.astro';
---

<Layout title="Qu&eacute; es y quienes somos en BichoTech">
	
	<MainSection
			title="Portafolio"
			background="wall_03.webp"
			element={['proyectos', 'marcas', 'clientes']} />

	<section class="__bixo-phrase change-menu-color">
		<div>
			<h3>Estamos reuniendo el material importante para mostrarte nuestro trabajo.</h3>
		</div>
	</section>
</Layout>