<form name="contacto" method="post" data-netlify="true">
    <div class="form-element">
        <input type="text" name="txtName" id="txtName" placeholder="Nombre" />
        <div class="asteriks">*</div>
    </div>
    <div class="form-element">
        <input type="email" name="txtEmail" id="txtEmail" placeholder="E-mail" />
        <div class="asteriks">*</div>
    </div>
    <div class="form-element">
        <input type="text" name="txtCompany" id="txtCompany" placeholder="Compañía o negocio" />
    </div>
    <div class="form-element">
        <select name="slServices" id="sl-services">
            <option value="-">Solicitud de servicios</option>
            <hr>
            <option value="Todos los servicios">Todos los servicios</option>
            <option value="Combo de servicios">Busco combo de servicios</option>
            <option value="Auditoría Gráfica">Auditoría gráfica</option>
            <option value="Consultoría Gráfica">Consultoría gráfica</option>
            <option value="Consultoría Web">Consultoría web</option>
            <option value="Diseño de Identidad Visual">Diseño de identidad visual</option>
            <option value="Diseño UI/UX">Diseño de interfaces y experiencia de usuario</option>
            <option value="Desarrollo de Aplicaciones">Desarrollo de aplicaciones</option>
            <option value="Aún no lo se">No se que necesito aún</option>
        </select>
    </div>
    <div class="form-element">
        <textarea name="txtMessage" id="txtMessage" rows="10" placeholder="Mensaje"></textarea>
    </div>
    <div class="form-element">
        <input type="hidden" name="txtBalance" id="txtBalance" />
    </div>
    <div class="form-element">
        <div id="warnings"></div>
    </div>
    <div class="form-element">
        <button id="btn-send">Enviar Mensaje</button>
    </div>
</form>
<script>
    (() => {
        `use strict`
        const txtName:any = document.querySelector(`#txtName`);
        const txtEmail:any = document.querySelector(`#txtEmail`);
        const txtCompany:any = document.querySelector(`#txtCompany`);
        const txtBalance:any = document.querySelector(`#txtBalance`);
        const slServices:any = document.querySelector(`#sl-services`);
        const txtMessage:any = document.querySelector(`#txtMessage`);
        const btnSend:any = document.querySelector(`#btn-send`);
        const WarnArea:any = document.querySelector(`#warnings`);

        const isValid = (emailAddress:string) => {
            return emailAddress.match(/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/);
        };

        btnSend.addEventListener(`click`, (event:any) => {
            event.preventDefault();
            let warnings:string = '<ul>';
            let flag:boolean = true;
            let _data:any = {
                nombre: txtName.value,
                correo: txtEmail.value,
                negocio: txtCompany.value,
                servicios: slServices.value,
                mensaje: txtMessage.value
            };

            if ( txtBalance.value !== `` ){
                return false;
            }

            const sendForm = async (theData:any) => {
                fetch('/assets/scripts/contact_me.php', {
                    method: 'POST',
                    headers: {'Content-Type': "application/x-www-form-urlencoded"},
                    body: JSON.stringify(theData)
                }).then((response) => {
                    console.log(response);
                    const timeOut = setTimeout(() =>{
                        if (response.ok){
                            window.location.href = '/gracias/';
                        } else {
                            flag = false;
                            warnings += '<li>No se pudo accesar al servidor de correo, favor de intentar más tarde</li>';
                        }
                    }, 3000);
                }).catch((error) => {
                    flag = false;
                    warnings += '<li>No se pudo accesar al servidor de correo, favor de intentar más tarde</li>';
                });
            }

            if ( txtName.value === '' || txtName.value === undefined ){
                warnings += '<li>Su nombre es requerido para enviar la forma</li>';
                flag = false;
            }

            if ( !isValid(txtEmail.value) ){
                warnings += '<li>Su e-mail es requerido para enviar la forma</li>';
                flag = false;
            }

            if ( flag ) {
                WarnArea.innerHTML = '';
                sendForm(_data);
            } else {
                warnings += '</ul>';
                WarnArea.innerHTML = warnings;
            }
        });
    })();
</script>
<style lang="scss">
   form {
        width: 98%;

        .form-element {
            margin: 10px 0;
            width: 100%;
            position: relative;

            .asteriks {
                position: absolute;
                width: 24px;
                height: 24px;
                display: block;
                color: var(--orange-bixo-color);
                top: 0;
                right: 0;
                font-size: 2.5rem;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 50%;
                    margin: 10px 0;

                    @media screen and (width < 560px){
                        width: 100%;
                    }
                    
                    & > input{
                        display: inline-block;
                        width: 20px !important;
                        // height: 20px;
                    }
                }
            }

            input, textarea, select {
                width: 100%;
                font-family: var(--bx-ff-poppins);
                border: 1px solid var(--gray-bixo-color);
                font-size: 1.2rem;
                padding: 4px 6px;
                border-radius: 6px;
                color: var(--gray-bixo-color);
            }

            button {
                background-color: var(--orange-bixo-color);
                border: 0;
                padding: 10px 6px;
                color: white;
                width: 100%;
                font-size: 1.4rem;
                border-radius: 6px;
                cursor: pointer;

                &:hover {
                    background-color: var(--black-color);
                }
            }

            #warnings {
                color: var(--warning-bixo-color);
            }
        }
    }
</style>