---

---

<section class="half-content">
    <div class="container">
        <div class="half-item">Mitad 1</div>
        <div class="half-item">Mitad 2</div>
    </div>
</section>

<style lang="scss">
    section {
        height: auto;
        padding: 0;
        width: 100%;

        .container {
            max-width: 1320px;
            width: 100%;
            margin: 80px auto;
            display: flex;
        }
    }
</style>