---
import type { MainSectionProps } from "./interfaces.astro";
const { title, background, element} = Astro.props as MainSectionProps;
const backgroundImage = "background-image: url('/assets/images/" + background + "');";
const pathname = Astro.url.pathname.replaceAll('/', '');
---

<section id="__bx-main-section" class="scroll-snap back-image" style={ backgroundImage }>
    { (pathname === 'bichotech' || pathname === 'blog') && <div class="overlay"></div> }
    

    <div class="__bx-paragraph-centered">
        <h2>{title}</h2>
    </div>
    {element &&
    <div class="text-decorated">
        {
            element.map((value:string, index:number) => (
                <div class:list={[`text-${index + 1}`, 'stroke-text']} style={{ marginLeft: index % 2 ? `${index * 4.854}%` : `${index * 1.618}%` }}>
                    <div class="main-text">{value}</div>
                    <div class="pink-layer">{value}</div>
                    <div class="teal-layer">{value}</div>
                </div>
            ))
        }
    </div>
    }
</section>

<style lang="scss">
    @mixin no-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    #__bx-main-section {
        background-color: var(--black-color);
        background-attachment: fixed;

        .overlay {
            background-color: rgba(0, 0, 0, 0.45);
            z-index: 0;
        }

        @media screen and (width < 1600px){
            height: 100%;
        }

        @media screen and (width < 600px){
            height: 100%;
            background-attachment: unset;
            background-position: center center;
        }

        .__bx-paragraph-centered {
            color: #ffffff;
            margin-left: 24rem;

            @media screen and (width < 1600px){
                margin-left: 2rem;
            }
        }

        .text-decorated {
            position: absolute;
            width: 55%;
            right: 0;
            opacity: 0.5;
            perspective: 600px;

            @media screen and (width < 1600px){
                top: 20%;
                width: 80%;
                perspective: unset;
            }

            .stroke-text {
                $stroke-width: 2px;
                $stroke-opacity: 0.5;
                $time-lapse: 1s;
                $time-delay: 1s;

                font-size: 160px;
                font-weight: 600;
                text-transform: lowercase;
                -webkit-text-stroke-color: white;
                -webkit-text-stroke-width: $stroke-width;
                line-height: 1.2;
                position: relative;
                animation: PerspectiveText $time-lapse ease-in-out forwards;
                animation-delay: $time-delay;

                @media screen and (width < 1600px){
                    font-size: 40px;
                    display: none;
                }

                .main-text {
                    font-size: inherit;
                    position: relative;
                    z-index: 2;
                    @include no-select;
                }

                .pink-layer {
                    font-size: inherit;
                    -webkit-text-stroke-color: var(--pink-bixo-color);
                    -webkit-text-stroke-width: $stroke-width;
                    position: absolute;
                    animation: DisplacePinkText $time-lapse ease-in-out forwards, Text3D $time-lapse ease-in-out forwards;
                    animation-delay: $time-delay;
                    top: 0;
                    left: 0;
                    opacity: $stroke-opacity;
                    @include no-select;
                }

                .teal-layer {
                    font-size: inherit;
                    -webkit-text-stroke-color: var(--teal-bixo-color);
                    -webkit-text-stroke-width: $stroke-width;
                    position: absolute;
                    animation: DisplaceTealText $time-lapse ease-in-out forwards, Text3D $time-lapse ease-in-out forwards;
                    animation-delay: $time-delay;
                    top: 0;
                    left: 0;
                    opacity: $stroke-opacity;
                    @include no-select;
                }
            }
        }
    }
</style>