---
// TOP NAV
import IconBixo from '../assets/images/iconBixo.astro';
import LogoBixo from '../assets/images/logoBixo.astro';

const pathname = Astro.url.pathname.replaceAll('/', '');
---
<nav id="desktop-nav">
    <div class="logo">
        <a href="/"><IconBixo /></a>
    </div>
    <div class="menu" data-currentPath={pathname}>
        <ul id="top-menu">
            <li>
                <a href="/" id="home" class="menu-item">Inicio</a>
            </li>
            <li>
                <a href="/bichotech/" id="bichotech" class="menu-item">Bichotech</a>
            </li>
            <li>
                <a href="/servicios/" id="servicios" class="menu-item">Servicios</a>
            </li>
            <li>
                <a href="/portafolio/" id="portafolio" class="menu-item">Portafolio</a>
            </li>
            <li>
                <a href="/contacto/" id="contacto" class="menu-item">Contacto</a>
            </li>
            <li>
                <a href="https://blog.bicho.tech" id="blog" class="menu-item">Blog</a>
            </li>
        </ul>
    </div>
</nav>

<nav id="mobile-nav">
    <ul>
        <li>
            <a href="/">
                <div class="logo-top-bar">
                    <IconBixo />
                </div>
            </a>
        </li>
        <li>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </li>
    </ul>
</nav>

<div class="side-menu">
    <a href="javascript: void(0);" class="close-menu">&times;</a>
    <div class="logo-top">
        <LogoBixo />
    </div>
    <ul>
        <li>
            <a href="/" id="home" class="menu-item">Inicio</a>
        </li>
        <li>
            <a href="/bichotech/" id="bichotech" class="menu-item">Bichotech</a>
        </li>
        <li>
            <a href="/servicios/" id="servicios" class="menu-item">Servicios</a>
        </li>
        <li>
            <a href="/portafolio/" id="portafolio" class="menu-item">Portafolio</a>
        </li>
        <li>
            <a href="/contacto/" id="contacto" class="menu-item">Contacto</a>
        </li>
        <li>
            <a href="https://blog.bicho.tech" id="blog" class="menu-item">Blog</a>
        </li>
    </ul>
</div>
<script>
    (() => {
        const burgerMenu:any = document.querySelector('.burger');
        const closeMenu:any = document.querySelector('.close-menu');
        const sideMenu:any = document.querySelector('.side-menu');

        burgerMenu.addEventListener('click', () => {
            sideMenu.classList.add('open');
            sideMenu.classList.remove('close');
        });
        closeMenu.addEventListener('click', () => {
            sideMenu.classList.add('close');
            sideMenu.classList.remove('open');
        });
    })();
</script>
<style lang="scss">
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100svw;
        box-sizing: border-box;
        padding: 1rem 2rem;
        z-index: 9;

        @media screen and (width < 1600px){
            background-color: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(10px);
        }

        .logo {
            width: 40px;
        }

        .menu {
            margin-right: 3rem;
            
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                gap: 3rem;

                @media screen and (width < 1600px){
                    flex-direction: column;
                    gap: 1rem;
                }

                li {
                    a {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1rem;
                        text-transform: uppercase;
                        letter-spacing: 0.2rem;
                        font-weight: 700;
                        text-decoration: none;
                        box-sizing: border-box;
                        padding: 0.6rem 1rem;
                        display: block;
                        border-radius: 4px;
                        background-color: transparent;
                        transition: all 0.4s ease-in-out;
                        color: #ffffff;

                        &.selected {
                            background-color: #b72100;
                        }

                        &:hover {
                            background-color: #b72100;
                            color: white;
                        }
                    }
                }
            }
        }

        &.change-color {
            .menu {
                ul {
                    li {
                        a:not(a.selected) {
                            color: var(--gray-bixo-color);

                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        &#desktop-nav {
            @media screen and (width < 1600px){
                display: none;
            }
        }

        &#mobile-nav {
            display: none;
            padding: 10px 20px;
            
            @media screen and (width < 1600px){
                display: block;
            }

            .burger {
                display: flex;
                width: 40px;
                height: 24px;
                flex-direction: column;
                padding: 0;
                justify-content: space-around;
                align-items:flex-end;
                border-radius: 4px;
                cursor: pointer;

                .line {
                    display: block;
                    width: 40px;
                    height: 1px;
                    background-color: var(--orange-bixo-color);

                    &:nth-of-type(2) {
                        width: 30px;
                    }

                    &:nth-of-type(3) {
                        width: 20px;
                    }
                }
            }

            ul {
                display: flex;
                justify-content: space-between;
                list-style: none;
                padding: 0;
                margin: 0;
                gap: 60px;
            }

            .logo-top-bar {
                width: 150px;

                @media screen and (width < 1600px){
                    width: 40px;
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 90px;

            li {
                a {
                    text-decoration: none;
                    color: var(--linkColor);
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: 600;
                    letter-spacing: 1px;

                    .logo-top-bar {
                        display: block;
                        width: 80px;
                        height: 90px;
                        text-align: center;

                        @media screen and (width < 1600px){
                            height: 60px;
                        }
                    }

                    &:hover {
                        color: #F62F42;
                    }
                }
            }
        }
    }

    .side-menu {
        position: fixed;
        width: 320px;
        height: 100%;
        display: block;
        background-color: var(--black-color);
        top: 0;
        right: -360px;
        z-index: 100;
        box-shadow: -5px 0 30px 6px rgba(0,0,0,0.5);
        padding: 30px 0;

        @media screen and (width > 1600px){
            display: none;
        }

        &.open {
            animation: slideShowMenu 500ms forwards;
        }

        &.close {
            animation: slideHideMenu 500ms forwards;
        }

        .close-menu {
            text-decoration: none;
            font-size: 40px;
            position: absolute;
            top: 10px;
            right: 10px;
            color: var(--orange-bixo-color);
        }

        .logo-top {
            width: 200px;
            margin: 40px auto 30px;
        }

        ul {
            list-style: none;
            padding: 0;
            width: 100%;

            li {
                width: 100%;

                .logo-top {
                    margin: 0 auto 20px;
                    width: 60%;
                }

                a {
                    color: red;
                    font-size: 14px;
                    display: block;
                    width: 100%;
                    padding: 10px 20px;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 600;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                    &:first-child {
                        border-top: 1px solid rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }

    @keyframes slideShowMenu {
        0% {
            right: -360px;
        }
        100% {
            right: 0;
        }
    }

    @keyframes slideHideMenu {
        0% {
            right: 0;
        }
        100% {
            right: -360px;
        }
    }
</style>

<script>
    (() => {
        const menuItem = document.querySelector(`.menu`) as HTMLElement;
        let pathname = menuItem.getAttribute('data-currentPath');

        if ( pathname === '' ){ (document.querySelector('#home') as HTMLElement).classList.add('selected'); }
        if ( pathname === 'bichotech' ){ (document.querySelector('#bichotech') as HTMLElement).classList.add('selected'); }
        if ( pathname === 'servicios' ){ (document.querySelector('#servicios') as HTMLElement).classList.add('selected'); }
        if ( pathname === 'portafolio' ){ (document.querySelector('#portafolio') as HTMLElement).classList.add('selected'); }
        if ( pathname === 'contacto' ){ (document.querySelector('#contacto') as HTMLElement).classList.add('selected'); }
        if ( pathname === 'blog' ){ (document.querySelector('#blog') as HTMLElement).classList.add('selected'); }
    })();
</script>
