---
// TOP NAV
import { Image } from 'astro:assets';
import LogoBixo from '../assets/images/logo_bixo.svg';

const pathname = Astro.url.pathname;
---
<nav>
    <div class="logo">
        <a href="/"><Image src={LogoBixo} alt="BichoTech, agencia interactiva" height="40" /></a>
    </div>
    <div class="menu" data-currentPath={pathname}>
        <ul>
            <li>
                <a href="/" id="home" class="menu-item">Inicio</a>
            </li>
            <li>
                <a href="/bichotech/" id="bichotech" class="menu-item">Bichotech</a>
            </li>
            <li>
                <a href="" id="" class="menu-item">Servicios</a>
            </li>
            <li>
                <a href="" id="" class="menu-item">Contacto</a>
            </li>
            <li>
                <a href="" id="" class="menu-item">Blog</a>
            </li>
        </ul>
    </div>
</nav>

<style lang="scss">
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100svw;
        box-sizing: border-box;
        padding: 1rem 2rem;
        z-index: 2;

        .logo {

        }

        .menu {
            margin-right: 3rem;
            
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                gap: 3rem;

                li {
                    a {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1rem;
                        text-transform: uppercase;
                        letter-spacing: 0.2rem;
                        font-weight: 700;
                        text-decoration: none;
                        box-sizing: border-box;
                        padding: 0.6rem 1rem;
                        display: block;
                        border-radius: 4px;
                        background-color: transparent;
                        transition: all 0.4s ease-in-out;
                        color: #ffffff;

                        &.selected {
                            background-color: #b72100;
                        }

                        &:hover {
                            background-color: #b72100;
                        }
                    }
                }
            }
        }
    }
</style>

<script>
    let pathname = document.querySelector('.menu')?.getAttribute('data-currentPath');

    if ( pathname === '/' ){
        document.querySelector('#home')?.classList.add('selected');
    }
    if ( pathname === '/bichotech/' ){
        document.querySelector('#bichotech')?.classList.add('selected');
    }
</script>