<section class="__bixo-phrase change-menu-color">
	<div>
		<slot name="SectionContent" />
	</div>
</section>

<style lang="scss">
	.__bixo-phrase {
		@media screen and (width < 600px){
			padding: 30px;
		}
	}
</style>