<section id="__bixo-phrase" class="change-menu-color scroll-snap">
	
		<slot name="SectionContent" />
	
</section>

<style lang="scss">
	#__bixo-phrase {
		@media screen and (width < 1600px){
			padding: 30px;
		}
		@media screen and (width < 600px){
			padding: 30px;
		}
	}
</style>