---
import Layout from '../../layouts/Layout.astro';
import MainSection from '../../components/main-section.astro';
import WhiteSection from '../../components/white-section.astro';
---

<Layout title="Procesos de trabajo de BichoTech" desc="Conoce nuestros procesos para cada tipo de proyectos que tenemos en BichoTech">
	
	<MainSection
			title="Nuestros procesos"
			background="wall_06.webp"
			element={['¿cómo?', '¿porqué?', '¿cuando?']} />
	
    <WhiteSection>
        <Fragment slot="SectionContent">
            <h3>Estamos diseñando los documentos para mostrartelo en nuestro sitio.</h3>
        </Fragment>
    </WhiteSection>

    <section class="black-background scroll-snap">
		<div class="container">
            <div class="procesos">
                <h4>Proceso:<br />Auditoría gráfica</h4>
                <div class="image">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bx-auditoria-grafica.webp" class="desktop-version" alt="">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bm-auditoria-grafica.webp" class="mobile-version" alt="">
                </div>
            </div>
		</div>
	</section>

    <section class="black-background scroll-snap">
		<div class="container">
            <div class="procesos">
                <h4>Proceso:<br />Consultoría y asesoría de marca</h4>
                <div class="image">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bx-consultoria-de-marca.webp" class="desktop-version" alt="">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bm-consultoria-de-marca.webp" class="mobile-version" alt="">
                </div>
            </div>
		</div>
	</section>

    <!-- <section class="black-background scroll-snap">
		<div class="container">
            <div class="procesos">
                <h4>Proceso:<br />Consultoría y asesoría web</h4>
                <div class="image">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bx-auditoria-grafica.webp" class="desktop-version" alt="">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bm-auditoria-grafica.webp" class="mobile-version" alt="">
                </div>
            </div>
		</div>
	</section>

    <section class="black-background scroll-snap">
		<div class="container">
            <div class="procesos">
                <h4>Proceso:<br />Diseño de identidad visual</h4>
                <div class="image">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bx-auditoria-grafica.webp" class="desktop-version" alt="">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bm-auditoria-grafica.webp" class="mobile-version" alt="">
                </div>
            </div>
		</div>
	</section>

    <section class="black-background scroll-snap">
		<div class="container">
            <div class="procesos">
                <h4>Proceso:<br />Diseño de interfaces de usuario</h4>
                <div class="image">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bx-auditoria-grafica.webp" class="desktop-version" alt="">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bm-auditoria-grafica.webp" class="mobile-version" alt="">
                </div>
            </div>
		</div>
	</section>

    <section class="black-background scroll-snap">
		<div class="container">
            <div class="procesos">
                <h4>Proceso:<br />Desarrollo de aplicaciones</h4>
                <div class="image">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bx-auditoria-grafica.webp" class="desktop-version" alt="">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bm-auditoria-grafica.webp" class="mobile-version" alt="">
                </div>
            </div>
		</div>
	</section>

    <section class="black-background scroll-snap">
		<div class="container">
            <div class="procesos">
                <h4>Proceso:<br />Video y post-producción</h4>
                <div class="image">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bx-auditoria-grafica.webp" class="desktop-version" alt="">
                    <img oncontextmenu="return false;" src="/assets/images/procesos/bm-auditoria-grafica.webp" class="mobile-version" alt="">
                </div>
            </div>
		</div>
	</section> -->
</Layout>

<style lang="scss">
    .black-background {
        @media screen and (width < 1600px){
            padding: 30px 10px;
        }
    }
    .container {
        display: block !important;
        width: 100%;
        height: 100%;
    }
    .procesos {
        color: white;
        display: block;
        width: 100%;
        height: 100%;

        .desktop-version {
            display: block;
            width: 100%;
        }

        .mobile-version {
            display: none;
            width: 100%;
        }

        @media screen and (width < 1600px){
            .desktop-version {
                display: none;
            }

            .mobile-version {
                display: block;
            }
        }
    }
</style>