---
// BIENVENIDO SECTION
import MalenkyLogo from '../assets/images/malenkyLogo.astro';
---

<section id="__bx-bienvenido-section">
    <div class="__bixo-element">
        <div class="__bx-paragraph-centered">
            <h6>&mdash; Septiembre 05, 2023</h6>
            <h3>¡Bienvenido a la familia, Malenky!</h3>
            <p>Malenky es un emprendimiento que se dedica a la creacion de amigurumis y otros productos usando el crochet. Se realizará una estrategia para medios electrónicos, asi como la creación de historias para algunos personajes.</p>
            <a href="/clientes/" class="base-btn">Conoce a nuestros clientes</a>
        </div>
    </div>
    <div class="__bixo-element centered-image back-orange">
        <div class="overlay"></div>
        <MalenkyLogo />
    </div>
</section>

<style lang="scss">
    #__bx-bienvenido-section {
        align-items: stretch;
        flex-direction: row;
        padding: unset;

        .__bx-paragraph-centered {
            color: var(--gray-bixo-color);

            h6 {
                color: var(--orange-bixo-color);
                text-transform: uppercase;
                letter-spacing: 0.2rem;
            }
        }
    }
</style>