---
// ESTRATEGIA SECTION
---

<section id="__bx-estrategia-section">
    <div class="__bixo-element">
        <div class="__bx-paragraph-centered">
            <h3>De la estrategia a la ejecución</h3>
            <p>Creamos procesos probados para ayudar a nuestros clientes a identificar las posibles áreas de oportunidad para crear experiencias visuales de sus marcas y productos.</p>
        </div>
    </div>
    <div class="__bixo-element back-orange back-image">
        <div class="overlay"></div>
    </div>
</section>

<style lang="scss">
    #__bx-estrategia-section {
        align-items: stretch;
        flex-direction: row;

        .__bx-paragraph-centered {
            color: var(--gray-bixo-color);
        }

        .__bixo-element {
            &.back-image {
                background-image: url('../assets/images/buildings_city.jpg');
            }
        }
    }
</style>