---
// INITIAL SECTION
---

<section id="__bx-initial-section">
    <div class="__bx-paragraph-centered">
        <h2>Nuestra responsabilidad es darle a su marca impacto digital y gráfico, nuestra misión es convertirnos en su equipo creativo.</h2>
    </div>
</section>

<style lang="scss">
    #__bx-initial-section {
        background-color: var(--black-color);

        .__bx-paragraph-centered {
            color: #ffffff;
        }
    }
</style>