---
// QUIENES SOMOS SECTION
---

<section id="__bx-somos-section">
    <div class="__bixo-element">
        <div class="__bx-paragraph-centered">
            <h3>Nos gusta despertar en nuestros clientes el amor a la creatividad funcional</h3>
            <p>Somos ambiciosos y llevamos la creatividad al máximo</p>
            <a href="" class="base-btn">&iquest;Quienes Somos?</a>
        </div>
    </div>
    <div class="__bixo-element back-orange back-image">
        <div class="overlay"></div>

        IMAGE
    </div>
</section>

<style lang="scss">
    #__bx-somos-section {
        align-items: stretch;
        flex-direction: row;

        .__bx-paragraph-centered {
            color: var(--gray-bixo-color);
        }

        .__bixo-element {
            &.back-image {
                background-image: url('../assets/images/building-2.jpg');
            }
        }
    }
</style>