---

---
<ul class="services-bar">
    <li><a href="/servicios/auditoria-grafica">[ Auditoría Gráfica ]</a></li>
    <li><a href="/servicios/consultoria-grafica">[ Consultoría de marca ]</a></li>
    <li><a href="/servicios/consultoria-web">[ Consultoría Web ]</a></li>
    <li><a href="/servicios/identidad-visual">[ Diseño de Identidad Visual ]</a></li>
    <li><a href="/servicios/interfaces-de-usuario">[ Diseño UI/UX ]</a></li>
    <li><a href="/servicios/desarrollo-de-aplicaciones">[ Desarrollo de Aplicaciones ]</a></li>
    <li><a href="/servicios/video-y-post-produccion">[ Video y post-producción ]</a></li>
</ul>

<style lang="scss">
    .services-bar {
        background-color: rgb(28, 7, 36);
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 10px 0;
        margin: 0;
        flex-wrap: wrap;

        li {
            padding: 6px 0;
            a {
                color: var(--orange-bixo-color);
                font-size: 1.2rem;

                &:hover {
                    color: white;
                }
            }
        }
    }
</style>