@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        background-color:rgb(28,7,36);
        display: none;
    }
}

@keyframes Blinking {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
}

@keyframes PerspectiveText{
    from {
        transform: rotateY(0deg);
    }
    to  {
        transform: rotateY(-25deg);
    }
}

@keyframes Text3D{
    from {
        transform: translateZ(0);
    }
    to  {
        transform: translateZ(-145px);
    }
}

@keyframes DisplacePinkText {
    from {
        top: 0;
        left: 0;
    }
    to {
        top: 15%;
        left: -2%;
    }
}
@keyframes DisplaceTealText {
    from {
        top: 0;
        left: 0;
    }
    to {
        top: -15%;
        left: 2%;
    }
}