@font-face {
    font-family: 'Rajdhani_Bold';
    src: url('../assets/fonts/Rajdhani-SemiBold.eot');
    src: url('../assets/fonts/Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Rajdhani-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Rajdhani-SemiBold.woff') format('woff'),
        url('../assets/fonts/Rajdhani-SemiBold.ttf') format('truetype'),
        url('../assets/fonts/Rajdhani-SemiBold.svg#Rajdhani-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../assets/fonts/Rajdhani-Regular.eot');
    src: url('../assets/fonts/Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Rajdhani-Regular.woff2') format('woff2'),
        url('../assets/fonts/Rajdhani-Regular.woff') format('woff'),
        url('../assets/fonts/Rajdhani-Regular.ttf') format('truetype'),
        url('../assets/fonts/Rajdhani-Regular.svg#Rajdhani-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-size: 10px;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

:root {
    --black-color: #212121;
    --orange-bixo-color: #FF2F00;
    --gray-bixo-color: #5A5A5A;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rajdhani_Bold';
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.4rem;
}

p {
    margin: 2rem 0 2rem 0;
    font-size: 2rem;
}

a {
    text-decoration: none;
    transition: all 0.4s ease-in-out;

    &.base-btn {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.6rem;
        padding: 1rem 3rem;
        color: var(--orange-bixo-color);
        border: 0.2rem solid var(--orange-bixo-color);
        box-sizing: border-box;
        background-color: transparent;

        &:hover {
            background-color: var(--orange-bixo-color);
            color: white;
        }
    }
}

section {
    width: 100svw;
    height: 100svh;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;

    .__bx-paragraph-centered {
        max-width: 56rem;
        margin-left: 100px;
        position: relative;
        z-index: 2;
    }

    .__bixo-element {
        width: 50svw;
        display: flex;
        align-items: center;
        position: relative;
        flex-grow: 1;

        .__bx-paragraph-centered {
            max-width: 56rem;
            margin-left: 100px;
        }

        &.centered-image img {
            left: 50%;
            position: relative;
            transform: translateX(-50%);
        }
    }
}

.back-image {
    background-position: top right;
    background-size: cover;
}

.back-orange {
    background-color: var(--orange-bixo-color);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}