:root {
    --black-color: rgb(33, 33, 33);
    --orange-bixo-color: rgb(255, 51, 0);
    --gray-bixo-color: rgb(102, 102, 102);
    --teal-bixo-color: rgb(0, 255, 255);
    --pink-bixo-color: rgb(255, 0, 255);
    --white-bixo-color: rgb(254, 255, 239);
    --navy-bixo-color: rgb(10, 35, 66);
    --warning-bixo-color: rgb(216, 70, 70);

    --bx-ff-poppins: 'Poppins', Arial, Helvetica, sans-serif;
}

* {
    font-size: 10px;
    font-family: var(--bx-ff-poppins);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    width: 100svw;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

h1, h2, h3 {
    font-family: var(--bx-ff-poppins);
}

h4, h5, h6 {
    font-family: var(--bx-ff-poppins);
}

h1 {
    font-size: 5rem;

    @media screen and (width < 1600px){
        font-size: 4rem;
    }
}

h2 {
    font-size: 4.2rem;

    @media screen and (width < 1600px){
        font-size: 3rem;
    }
}

h3 {
    font-size: 3.6rem;

    @media screen and (width < 1600px){
        font-size: 2.6rem;
    }
}

h4 {
    font-size: 2.6rem;

    @media screen and (width < 1600px){
        font-size: 2rem;
    }
}

h5 {
    font-size: 2rem;

    @media screen and (width < 1600px){
        font-size: 1.6rem;
    }
}

h6 {
    font-size: 1.4rem;

    @media screen and (width < 1600px){
        font-size: 1.2rem;
    }
}

p {
    margin: 2rem 0 2rem 0;
    font-size: 1.6rem;

    @media screen and (width < 1600px){
        font-size: 1.4rem;
    }

    strong {
        font-size: inherit;
    }
}

a {
    text-decoration: none;
    transition: all 0.4s ease-in-out;

    &.base-btn {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.6rem;
        padding: 1rem 3rem;
        color: var(--orange-bixo-color);
        border: 0.2rem solid var(--orange-bixo-color);
        box-sizing: border-box;
        background-color: transparent;

        &:hover {
            background-color: var(--orange-bixo-color);
            color: white;
        }

        @media screen and (width < 1600px){
            font-size: 1.2rem;
        }
    }
}

.stroke-text {
    color: transparent;
    -webkit-text-stroke: 1px black;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 600;
    font-style: italic;
}

section {
    width: 100svw;
    height: 100svh;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    padding: 90px 120px;

    @media screen and (width < 1600px){
        height: auto;
        scroll-snap-align: unset;
        padding: 0;
    }

    .__bx-paragraph-centered {
        max-width: 60rem;
        position: relative;
        z-index: 2;

        @media screen and (width < 1600px){
            max-width: 90%;
        }

        ul {
            margin: 0 0 2rem 2rem;

            li {
                font-size: 1.6rem;

                @media screen and (width < 1600px){
                    font-size: 1.4rem;
                }

                strong {
                    font-size: inherit;
                }

                a {
                    font-size: inherit;
                }
            }
        }
    }

    .__bixo-element {
        width: 50svw;
        display: flex;
        align-items: center;
        position: relative;
        flex-grow: 1;
        justify-content: center;

        @media screen and (width < 1600px){
            width: 100%;
            height: auto;
            min-height: 400px;
        }
    }

    &.__bixo-phrase {
        justify-content: center;

        @media screen and (width < 1600px){
            padding: 30px 0;
        }

        div {
            max-width: 100%;
        }
    }

    &.black-background {
        background-color: var(--black-color);
        padding: 90px 120px;
        display: block;

        @media screen and (width < 1600px){
            padding: 30px;
        }
        
        .container {
            display: grid;
            gap: 80px;
            grid-template-columns: 1fr 1fr 1fr;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            @media screen and (width < 1600px){
                top: unset;
                transform: unset;
                grid-template-columns: 1fr;
            }

            @media screen and (width < 1600px){
                gap: 40px;
            }

            .column {
                h3 {
                    color: var(--orange-bixo-color);
                }
                p {
                    color: var(--white-bixo-color);
                    font-weight: 300;
                }
            }
        }

        .container-logos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            position: absolute;
            gap: 80px;
            width: calc(100% - 240px);
            border: 1px solid red;
            bottom: 400px;

            @media screen and (width < 1600px){
                grid-template-columns: 1fr 1fr;
                position: relative;
                margin-top: 60px;
                bottom: unset;
            }

            .item {
                color: white;
                text-align: center;
            }
        }
    }
}

.back-image {
    background-position: center;
    background-size: cover;
}

.back-orange {
    background-color: var(--orange-bixo-color);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}