---
import Topnav from "../../components/topnav.astro";
import CasesLayout from "../../layouts/casesLayout.astro";
---

<CasesLayout title="BichoTech: Proyecto de identidad visual para Dental Carranza" desc="Consultorio Dental Carranza, atendido por el Dr. Ramiro Carranza. Proyecto en BichoTech para crear su identidad visual y su voz para redes sociales.">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="cases-hero-text">
                        <h2>Dental Carranza</h2>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
                        <a href="/contacto/" class="base-btn">Solicita tu cotización</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="bixo-case">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-3">
                    <div class="case-data">
                        <div class="logo">Logo</div>
                        <ul>
                            <li>Año: <strong>2024</strong></li>
                            <li>Cliente: <strong class="orange-text">Dental Carranza</strong></li>
                            <li>Ubicación: <strong>Monterrey, NL</strong></li>
                            <li>Tipo: <strong>Identidad Visual</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <h2>Antecedentes</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="bixo-research">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    Image
                </div>
                <div class="col-12 col-lg-6">
                    <div class="research-text">
                        <h2>Análisis</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="bixo-palette">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="palette-text">
                        <h2>Paleta de color</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    Image
                </div>
            </div>
        </div>
    </section>

    <section id="bixo-construction">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    Image
                </div>
                <div class="col-12 col-lg-6">
                    <div class="construction-text">
                        <h2>Construcción</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</CasesLayout>